//VERSION 1 DEL FOOTER

.piePagina {
    background-color: rgb(23, 23, 23);
    padding-top: 10px;
    font-size: 4vw;

    /* justify-content: space-between; */

    .pieInstitucional {
        
        .pieLogo {
            margin: 1vw;
            padding-bottom: 15px;
        }
    }

    .secondMenu {
        list-style: none;
        text-align: center;
    }
    
    .pieContenedorRedes {
        text-align: center;

        .pieRedes {
            align-items: center;
           
            .redes {
                width: 40%;
                padding: 5px;
            }
        }
    }
    .derechos {
        text-align: center;
        color:rgb(46, 46, 46)
    }
}

.piePaginaMD {
    display:none;
}

@media screen and (min-width: 768px) {

    .piePagina {
        display: none;
    }

    .piePaginaMD {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        .primeraLinea {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            height: 20vw;
            margin-bottom: 15vw;

            .pieLogo {
                margin: 1vw;
                padding-bottom: 15px;
            }
        
            .secondMenu {
                list-style: none;
                text-align: center;
                font-size: 28px;
          
            }
        }

        .pieContenedorRedes {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        
            .pieLinkRedes{ 

                .redes {
                    width: 12vw;
                    padding: 5px;
                }
            }   
        }
    }
}