/* -------------- MOBILE FIRST -------------- */

.piePagina {
    background-color: rgb(23, 23, 23);
    padding-top: 10px;
    font-size: 4vw;

    /* justify-content: space-between; */

    .pieInstitucional {
        
        .pieLogo {
            width: 10vw;
            margin: 1vw;
            padding-bottom: 15px;
        }
    }

    .secondMenu {
        font-size: 3vw;
        list-style: none;
        text-align: center;
    }

    .pieContenedorRedes {
        text-align: center;

        .pieRedes {
            align-items: center;

            .redes {
                width: 8vw;
                padding: 5px;
            }
        }
    }

    .legal {
        color: rgb(125,125,125);
        font-size: 3vw;
        margin-bottom: 10vw;

        .legalValidacion {
            color: rgb(125,125,125);
            margin-left: 1vw;
        }
    }
    .derechos {
        font-size: 3vw;
        text-align: center;
        color:rgb(46, 46, 46)
    }
}

.piePaginaMD {
    display:none;
}

@media screen and (min-width: 768px) {

    .piePagina {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    
        .pieContenedorRedes {
            margin-top: 6vw;
            margin-bottom: 6vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        
                .pieRedes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
        }
    
    }
}
