* {
    font-family: 'Playfair Display', serif;
}

/* -------------- MOBILE FIRST -------------- */

/* Header */ 
.indexBody {
    background-color: rgba(37, 37, 37);
        
    .cabecera {

        .cabeceraLogos {
            position:fixed;
            top: 0px;
            right: 1px;
            width: 100%;
            padding: 10px 10px 35px 10px;
            background-color: rgb(37, 37, 37);
            display: flex;
            flex-direction: row;   
            justify-content: end;       

            .linkCabecera {
                display: flex;
                flex-direction: row;  
                
                .headerLogoNombre {
                    height: 12vw;
                    width: auto;
                }
                
                .headerLogoRedondo {
                    height: 12vw;
                    width: auto;
                }
            }
        }

       .navbar {
            position: fixed;
            top: 1vw; 

            .menuButtons {
                width: 100%;         
                background-color: rgb(204, 204, 204); 
                
                .cabeceraLink {
                    padding: 1vw;
                    margin-top: 1px;
                    margin-bottom: 1px;
                    background-color: rgb(37, 37, 37);
                    text-align: center;
                    
                    .cabeceraBoton {
                        text-decoration: none;
                        color:rgb(240, 240, 240);
                        font-size: 18px;
                        padding: 1vw 30vw;
                    
                        &:active {
                            background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgb(110, 110, 110) 30%, rgb(150,150,150)40%, rgb(200,200,200)50%, rgb(150,150,150)60% , rgb(110, 110, 110) 70%, rgb(37, 37, 37) 100% );
                            color: rgb(37,37,37);
                            border-radius: 5px;
                        }    
                    }
                } 
            }
        } 
    }
}


/* -------------- TABLET -------------- */
@media screen and (min-width: 576px) {
    
    .indexBody {
                   
        .cabecera {
   
            .navbar {
    
                .menuButtons {
                    margin: 10vw 25vw 0vh 0vh;
                        
                    .cabeceraLink {
                        padding: 2vh;
                    }
                }
            }
        }
    }
}


/* -------------- SMALL PC - LRG TABLET -------------- */
@media screen and (min-width: 768px) {

    .indexBody {
        background-color: rgba(37, 37, 37);
            
        .cabecera {
    
            .cabeceraLogos {
                position: fixed;
                top: 0px;
                right: 1px;
                width: 100%;
                padding: 10px 10px 50px 10px;
                background-color: rgb(37, 37, 37);
                display: flex;
                flex-direction: row;   
                justify-content: center;   
                align-items: center;    
    
                .linkCabecera {
                    display: flex;
                    flex-direction: row;  
                    
                    .headerLogoNombre {
                        height: 12vw;
                        width: auto;
                    }
                    
                    .headerLogoRedondo {
                        height: 8vw;
                        width: auto;
                    }
                }
            }
    
           .navbar {
            margin-top: 20px;
                display: flex;
                flex-direction: row;
                
                .menuButtons {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                                        
                    .cabeceraLink {
                        width: 10vw; 
                        padding: 4px;
                        margin-right: 2px;
                        text-align: center;
                         
                        .cabeceraBoton {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            text-decoration: none;
                            color:rgb(240, 240, 240);
                            font-size: 18px;
                            padding: 2px;
                    
                            &:hover {
                                background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgb(110, 110, 110) 30%, rgb(150,150,150)40%, rgb(200,200,200)50%, rgb(150,150,150)60% , rgb(110, 110, 110) 70%, rgb(37, 37, 37) 100% );                                
                                color: rgb(37, 37, 37);
                                border-radius: 5px;
                            }    
                        }
                    } 
                }
            } 
        }
    }
}
