.indexMain {
    margin-top: 80px;
    height: auto;
    
    .preTitulo {
        background-image: url(https://i.pinimg.com/originals/b9/33/b6/b933b686cf2284b70249741abea77dd3.jpg);
        background-position: center;
        background-size: cover;
        padding-top: 2vh;
            
        .tituloMaster {     
            color: rgb(255, 255, 255);
            margin-top: 40vh;
            text-align: center; 
            padding-top: 2vh;
            padding-bottom: 2vh;
            font-size: 7vw;
            font-weight: bolder;
            background-color: rgba(70, 70, 70, 0.8);
        }
    }
}

.cargosDiv {

    .cargos {
    padding: 1vh 0vh;
    margin: 0px;
    text-align: center;  
    color: white; 
    font-size: 4vw; 
}


}
.novedades {
    background-color: rgb(165, 165, 165);
    margin-top: 80px;
    margin-bottom: 20vw;
    border-radius: 21px;
    
        .titulosNovedades {
            margin-top: 20px;
            font-size: 5vw;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }

    .contenedorEntrada {
        background-color: rgb(59, 59, 59);
        margin-bottom: 10vw;
        border-radius: 20px;

        .tituloEntrada {
            margin-top: 20px;
            font-size: 4vw;
            color: white;
            background-color: rgb(59, 59, 59);
            padding: 20px;
            border-radius: 20px;
        }

        .multimediaEntrada {
            width: 100%;
        }

        .cuerpoEntrada {
            margin-top: 20px;
            font-size: 3vw;
            color: white;
            padding: 4vw;
        }
    }
}