* {
  font-family: "Playfair Display", serif;
}

/* -------------- MOBILE FIRST -------------- */
/* Header */
.indexBody {
  background-color: rgb(37, 37, 37);
}
.indexBody .cabecera .cabeceraLogos {
  position: fixed;
  top: 0px;
  right: 1px;
  width: 100%;
  padding: 10px 10px 35px 10px;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.indexBody .cabecera .cabeceraLogos .linkCabecera {
  display: flex;
  flex-direction: row;
}
.indexBody .cabecera .cabeceraLogos .linkCabecera .headerLogoNombre {
  height: 12vw;
  width: auto;
}
.indexBody .cabecera .cabeceraLogos .linkCabecera .headerLogoRedondo {
  height: 12vw;
  width: auto;
}
.indexBody .cabecera .navbar {
  position: fixed;
  top: 1vw;
}
.indexBody .cabecera .navbar .menuButtons {
  width: 100%;
  background-color: rgb(204, 204, 204);
}
.indexBody .cabecera .navbar .menuButtons .cabeceraLink {
  padding: 1vw;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: rgb(37, 37, 37);
  text-align: center;
}
.indexBody .cabecera .navbar .menuButtons .cabeceraLink .cabeceraBoton {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-size: 18px;
  padding: 1vw 30vw;
}
.indexBody .cabecera .navbar .menuButtons .cabeceraLink .cabeceraBoton:active {
  background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgb(110, 110, 110) 30%, rgb(150, 150, 150) 40%, rgb(200, 200, 200) 50%, rgb(150, 150, 150) 60%, rgb(110, 110, 110) 70%, rgb(37, 37, 37) 100%);
  color: rgb(37, 37, 37);
  border-radius: 5px;
}

/* -------------- TABLET -------------- */
@media screen and (min-width: 576px) {
  .indexBody .cabecera .navbar .menuButtons {
    margin: 10vw 25vw 0vh 0vh;
  }
  .indexBody .cabecera .navbar .menuButtons .cabeceraLink {
    padding: 2vh;
  }
}
/* -------------- SMALL PC - LRG TABLET -------------- */
@media screen and (min-width: 768px) {
  .indexBody {
    background-color: rgb(37, 37, 37);
  }
  .indexBody .cabecera .cabeceraLogos {
    position: fixed;
    top: 0px;
    right: 1px;
    width: 100%;
    padding: 10px 10px 50px 10px;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .indexBody .cabecera .cabeceraLogos .linkCabecera {
    display: flex;
    flex-direction: row;
  }
  .indexBody .cabecera .cabeceraLogos .linkCabecera .headerLogoNombre {
    height: 12vw;
    width: auto;
  }
  .indexBody .cabecera .cabeceraLogos .linkCabecera .headerLogoRedondo {
    height: 8vw;
    width: auto;
  }
  .indexBody .cabecera .navbar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  .indexBody .cabecera .navbar .menuButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .indexBody .cabecera .navbar .menuButtons .cabeceraLink {
    width: 10vw;
    padding: 4px;
    margin-right: 2px;
    text-align: center;
  }
  .indexBody .cabecera .navbar .menuButtons .cabeceraLink .cabeceraBoton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-size: 18px;
    padding: 2px;
  }
  .indexBody .cabecera .navbar .menuButtons .cabeceraLink .cabeceraBoton:hover {
    background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgb(110, 110, 110) 30%, rgb(150, 150, 150) 40%, rgb(200, 200, 200) 50%, rgb(150, 150, 150) 60%, rgb(110, 110, 110) 70%, rgb(37, 37, 37) 100%);
    color: rgb(37, 37, 37);
    border-radius: 5px;
  }
}
/* -------------- MOBILE FIRST -------------- */
.piePagina {
  background-color: rgb(23, 23, 23);
  padding-top: 10px;
  font-size: 4vw;
  /* justify-content: space-between; */
}
.piePagina .pieInstitucional .pieLogo {
  width: 10vw;
  margin: 1vw;
  padding-bottom: 15px;
}
.piePagina .secondMenu {
  font-size: 3vw;
  list-style: none;
  text-align: center;
}
.piePagina .pieContenedorRedes {
  text-align: center;
}
.piePagina .pieContenedorRedes .pieRedes {
  align-items: center;
}
.piePagina .pieContenedorRedes .pieRedes .redes {
  width: 10vw;
  padding: 5px;
}
.piePagina .legal {
  color: rgb(125, 125, 125);
  font-size: 3vw;
  margin-bottom: 10vw;
}
.piePagina .legal .legalValidacion {
  color: rgb(125, 125, 125);
  margin-left: 1vw;
}
.piePagina .derechos {
  font-size: 3vw;
  text-align: center;
  color: rgb(46, 46, 46);
}

.piePaginaMD {
  display: none;
}

@media screen and (min-width: 768px) {
  .piePagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .piePagina .pieContenedorRedes {
    margin-top: 6vw;
    margin-bottom: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .piePagina .pieContenedorRedes .pieRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
/* -------------- MOBILE FIRST -------------- */
.indexMain {
  margin-top: 15vw;
  height: auto;
}
.indexMain .preTitulo {
  background-image: url(https://i.pinimg.com/originals/b9/33/b6/b933b686cf2284b70249741abea77dd3.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 2vh;
}
.indexMain .preTitulo .tituloMaster {
  color: rgb(255, 255, 255);
  margin-top: 40vh;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 7vw;
  font-weight: bolder;
  background-color: rgba(70, 70, 70, 0.8);
}

.cargosDiv .cargos {
  padding: 1vh 0vh;
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 4vw;
}

.novedades {
  background-color: rgb(245, 245, 245);
  margin-top: 80px;
  margin-bottom: 20vw;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.novedades .titulosNovedades {
  margin-top: 20px;
  font-size: 6vw;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.novedades .tarjetasNovedades .contenedorEntrada {
  background-color: rgb(59, 59, 59);
  margin-bottom: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.novedades .tarjetasNovedades .contenedorEntrada .tituloEntrada {
  margin-top: 20px;
  font-size: 4vw;
  color: rgb(245, 245, 245);
  background-color: rgb(59, 59, 59);
  padding: 20px;
  border-radius: 20px;
}
.novedades .tarjetasNovedades .contenedorEntrada .multimediaEntrada {
  width: 100%;
  height: auto;
}
.novedades .tarjetasNovedades .contenedorEntrada .cuerpoEntrada {
  margin-top: 20px;
  font-size: 3vw;
  color: rgb(245, 245, 245);
  padding: 4vw;
}

@media screen and (min-width: 768px) {
  .indexMain {
    background-image: url(https://i.pinimg.com/originals/b9/33/b6/b933b686cf2284b70249741abea77dd3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20vw;
    height: auto;
    padding: 1vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .indexMain .preTitulo {
    background-image: none;
    margin: 0px;
    padding: 0vh 0vw 0vh 0vh;
  }
  .indexMain .preTitulo .tituloMaster {
    background-color: rgba(70, 70, 70, 0.6);
    border-radius: 10px;
    margin-top: 5vw;
    margin-top: 0vh;
    padding: 0vh 0vw 0vh 0vh;
  }
  .indexMain .cargosDiv {
    margin-top: 20vw;
    background-color: rgba(70, 70, 70, 0.6);
    border-radius: 10px;
  }
  .indexMain .cargosDiv .cargos {
    padding: 1vh 0vh;
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 4vw;
  }
  .novedades .titulosNovedades {
    margin-top: 20px;
    font-size: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .novedades .tarjetasNovedades {
    display: flex;
    flex-direction: row;
  }
  .novedades .tarjetasNovedades .contenedorEntrada {
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    margin: 1vw;
  }
  .novedades .tarjetasNovedades .contenedorEntrada .tituloEntrada {
    margin-top: 20px;
    font-size: 3vw;
    color: white;
    background-color: rgb(59, 59, 59);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
  }
  .novedades .tarjetasNovedades .contenedorEntrada .multimediaEntrada {
    padding: 2vw;
    height: 30vw;
  }
  .novedades .tarjetasNovedades .contenedorEntrada .cuerpoEntrada {
    text-align: justify;
    text-indent: 5vw;
    margin-top: 2vw;
    font-size: 2vw;
    color: white;
    padding: 4vw;
  }
}
/* footer */
.pie__pagina {
  background-color: rgb(23, 23, 23);
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.pie__pagina .second__menu {
  list-style: none;
}
.pie__pagina .pie__redes .redes {
  height: 50px;
  margin: 10px 0px;
}
.pie__pagina .derechos {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */